.error {
  color: red;
  font-size: 11px;
  margin-bottom: 10px;
  height: 13px;
}

.btn {
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 15px;
}

.form {
  width: 300px;
  margin: auto;
  padding: 30px 40px;
  margin-top: 60px;
}
